.container {
    padding-left: 15%;
    padding-right: 15%;
    width: 70%;
}

/* .container .heading {
    display: flex;
} */

.container .info-card {
    min-width: 50%;
    text-align: left;
    padding-top: 2%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 2%;
}



.patient-info {
    display: inline-block;
}